<button
  type="button"
  id="clipboar"
  class="relative py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-mono rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
  data-clipboard-target="#hs-clipboard-tooltip-on-hover"
  data-clipboard-action="copy"
  data-clipboard-success-text="Copied"
>
  Event Id

</button>