<form class="space-y-4" id="sendMessageFrom">
  <div>
    <label
      for="question_text"
      class="block text-sm font-medium text-gray-700"
    >Question text</label>
    <textarea
      id="question_text"
      name="question_text"
      autocomplete="off"
      required
      class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm resize-none"
    ></textarea>
  </div>

  <div class="flex flex-wrap gap-2 space-y-2 md:space-y-0">
    <div class="flex-1 md:flex-1/2">
      <label
        for="event_id"
        class="block text-sm font-medium text-gray-700"
      >Event ID</label>
      <input
        type="text"
        id="event_id"
        name="event_id"
        required
        autocomplete="off"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />

      <label
        for="asked_by"
        class="block text-sm font-medium text-gray-700"
      >Asked by <i>(Optional)</i></label>
      <input
        type="text"
        id="asked_by"
        name="asked_by"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>
    <div class="flex items-end">
      <button
        type="submit"
        class="mt-2 md:mt-0 md:ml-3 px-4 py-2 bg-blue-500 text-white rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 flex items-center"
      >
        <svg
          class="w-4 h-4 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
        Send Question
      </button>
    </div>
  </div>
</form>