<div
  id="sidebar"
  class="bg-[#1a1a1a] text-white z-10 w-full max-h-screen max-w-xs p-4 fixed inset-y-0 transform -translate-x-full lg:translate-x-0 lg:static lg:inset-0 desktop-sidebar"
>
  <!-- Top Section -->
  <div class="flex flex-col justify-between h-full">
    <div
      class="text-xl font-bold mb-2 flex justify-between p-2 lg:flex lg:justify-center"
    >
      <a href="/">QuickAnswear</a>

      <!-- close sidebar -->
      <button
        id="closeSidebar"
        class="lg:hidden text-xl transition-transform duration-300 transform hover:rotate-90"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <div>

      <!-- Event Titles -->
      <div class="flex flex-col">
        <ul
          id="events-list"
          class="flex-1 max-h-[450px] overflow-y-auto border border-[#333333] p-2 rounded scrollable-menu"
        >
          {{#if events.length}}
            <!-- Massiv bo'sh emas -->

            {{#each events}}
              <li
                class="content-item cursor-pointer"
                data-content-id="{{event_id}}"
              >
                <span class="text-sm text-gray-500">{{lookup
                    this
                    "end_date"
                  }}</span>
                <a class="block">{{lookup this "event_name"}}</a>
              </li>
            {{/each}}
          {{else}}

            <div class="flex justify-center gap-1 align-middle">
              <!-- Massiv bo'sh -->
              <img src="./no-results.png" alt="empty img" />
              <p>You have no events.</p>
            </div>

          {{/if}}

        </ul>
      </div>
    </div>

    <!-- Setting Button -->
    <div>
      <div class="p-2 rounded mt-4">
        <button
          id="CreateEvent"
          class="bg-[#e28743] text-white px-4 py-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-emerald-50"
        >
          Create Event
        </button>
      </div>
      <div class="p-2 rounded">
        <button
          class="bg-[#FF5F6D] text-white px-4 py-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-emerald-50"
        >
          Settings
        </button>
      </div>
    </div>
  </div>
</div>