<div
  id="sidebar"
  class="bg-[#1a1a1a] text-white z-10 w-full max-h-screen max-w-xs p-4 fixed inset-y-0 transform -translate-x-full lg:translate-x-0 lg:static lg:inset-0 desktop-sidebar"
>
  <!-- Top Section -->
  <div class="flex flex-col justify-between h-full">
    <div
      class="text-xl font-bold mb-2 flex justify-between p-2 border lg:flex lg:justify-center"
    >
      <a href="/">QuickAnswear</a>

      <!-- close sidebar -->
      <button
        id="closeSidebar"
        class="lg:hidden text-xl transition-transform duration-300 transform hover:rotate-90"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <div>
      <div class="p-2 rounded mt-4">
        <button
          class="bg-[#e28743] text-white px-4 py-2 rounded w-full"
        >
          Create Event
        </button>
      </div>

      <!-- Event Titles -->
      <div class="flex flex-col">
        <ul
          class="flex-1 max-h-[450px] overflow-y-auto border border-[#333333] p-2 rounded scrollable-menu"
        >
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Dasturlashni qanday o'rganish
              kerak.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Nega Yevropa aynan.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Siz buni bajara olmaysiz</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Lorem ipsum dolor sit amet,
              Asperiores possimus minima quas.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Dasturlashni qanday o'rganish
              kerak.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Nega Yevropa aynan.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Siz buni bajara olmaysiz</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Lorem ipsum dolor sit amet,
              Asperiores possimus minima quas.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Dasturlashni qanday o'rganish
              kerak.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Nega Yevropa aynan.</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Siz buni bajara olmaysiz</a>
          </li>
          <li class="content-item">
            <span class="text-sm text-gray-500">2024-06-28</span>
            <a href="#" class="block">Lorem ipsum dolor sit amet,
              Asperiores possimus minima quas.</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Setting Button -->
    <div class="p-2 rounded mt-4">
      <button
        class="bg-[#FF5F6D] text-white px-4 py-2 rounded w-full"
      >
        Settings
      </button>
    </div>
  </div>
</div>