
    
  <style>
    @media (min-width: 1024px) { .desktop-sidebar { display: block
    !important; } }
  </style>

    <div class="flex h-screen">
      <!-- Sidebar -->
      {{>sidebar}}

      <!-- Main Content -->
      <div
        class="flex-1 p-2 sm:px-6 lg:w-[8px] h-screen overflow-y-auto bg-[#ffffff] text-black"
      >
        <button
          id="openSidebar"
          class="lg:hidden bg-gray-300 p-2 m-2 rounded-full"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>

        <!-- Data section -->
        <div>
          <h1 id="EventNameDashboard" class="bold border"></h1>
          <p id="EventDescDashboard"></p>

        </div>

        {{!-- Default content dashboard --}}
        <p id="DefaultDataDashboard" class="border">You can now use Scat stown</p>
        
      {{>createEvent}}
      </div>
      <!--main content end-->
    </div>

{{!-- Js files --}}
<script src="./js/dashboard/saidebar.js"></script>
<script src="./js/dashboard/data.load.js"></script>



   