{{>navbar}}
<!-- Home section -->
<section class="container mx-auto p-6 mt-8">
  <div class="flex flex-wrap -mx-3">
    <!-- Chap qism -->
    <div class="w-full lg:w-1/2 px-3 mb-6 lg:mb-0">
      <div class="lg:w-[80%]">
        <h2 class="text-2xl font-bold mb-4">
          QuickAnswer: A Quick and Easy Question and Answer Platform.
        </h2>
        <p class="mb-4">
          This is the first version of the QuickAnswer startup. There may be some bugs, but we are constantly working on improvements. Registered users can post questions and create their own events.
        </p>
      </div>
    </div>

    <!-- O'ng qism -->
    <div
      class="w-full lg:w-1/2 max-lg:mt-8 px-3 flex justify-center align-middle"
    >
      {{>register-form}}
    </div>
  </div>
</section>

{{>login}}
{{>footer}}