<!-- Navbar -->
<nav class="bg-gray-800 p-4">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between"
  >
    <!-- logo -->
    <div class="flex justify-center items-center gap-2">
      <span
        class="text-xl text-white font-semibold"
      >QuickAnswer</span>
      <img
        src="../question1-svgrepo-com.png"
        class="rotate-12"
        alt="logo png"
        width="30"
        height="30"
      />
    </div>

    <ul class="hidden w-full lg:flex lg:items-center lg:w-auto">
      <li class="mr-6">
        <a
          href="/"
          class="text-white hover:text-gray-400 transition duration-300"
        >Home</a>
      </li>
      <li class="mr-6">
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300"
        >About</a>
      </li>
      <li class="mr-6">
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300"
        >Contact</a>
      </li>
    </ul>

    <!-- Qalqib chiquvchi oyna -->
    <div class="flex gap-2">
      <button
        class="bg-blue-500 text-white px-6 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 hover:bg-[#273043] hover:outline-2 shadow-sm hover:shadow-indigo-500/40 transition duration-300"
      >
        You can send a question
      </button>
      <button
        type="submit"
        class="mt-2 md:mt-0 md:ml-3 px-4 py-2 bg-green-500 text-white rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 flex items-center"
      >
        <!-- <svg
              class="w-4 h-4 mr-2"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"></path>
            </svg> -->
        Login
      </button>
    </div>
  </div>
</nav>

<!-- Home section -->
<section class="container mx-auto p-6 mt-8">
  <div class="flex flex-wrap -mx-3">
    <!-- Chap qism -->
    <div class="w-full lg:w-1/2 px-3 mb-6 lg:mb-0">
      <div class="lg:w-[80%]">
        <h2 class="text-2xl font-bold mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </h2>
        <p class="mb-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deleniti, minima. Recusandae qui nobis dolorem rerum!
        </p>

        <!-- Forma send question -->
        {{>form-send-question}}
      </div>
    </div>

    <!-- O'ng qism -->
    <div
      class="w-full lg:w-1/2 max-lg:mt-8 px-3 flex justify-center align-middle"
    >
      {{>register-form}}
    </div>
  </div>
</section>