* {
  font-family: "Satoshi", sans-serif;
  /* border: 1px solid red; */
}

/* Dashboard */
.active {
  background-color: #333333;
  color: white;
}
.content-item {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.content-item:hover {
  background-color: #333333;
}
.content-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.date {
  font-size: 0.875rem;
  color: #9ca3af; /* Tailwind's text-gray-400 */
  margin-bottom: 5px;
}
.scrollable-menu {
  max-height: 400px; /* Siz xohlagan maksimal balandlikni qo'shing */
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox uchun yupqa scrollbar */
  scrollbar-color: #6b7280 #1f2937; /* Firefox uchun scrollbar ranglari */
}
/* Webkit (Chrome, Safari) uchun scrollbarni sozlash */
.scrollable-menu::-webkit-scrollbar {
  width: 8px;
}
.scrollable-menu::-webkit-scrollbar-track {
  background: #1f2937;
}
.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
  border: 3px solid #1f2937;
}

/* Sidebar */
#sidebar {
  transition: transform 0.3s ease-in-out;
}

#sidebar.active {
  transform: translateX(0);
}

#sidebar.inactive {
  transform: translateX(-100%);
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fixed-buttons {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}



