.hidden {
    display: none;
  }
  #loginModal > div {
    transition: all 1s ease-out;
    transform: translateY(20px);
    opacity: 0;
  }
  #loginModal.flex > div {
    transform: translateY(0);
    opacity: 1;
  }